/* --- cta.css --- */
#cta-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: 400;
}

#cta-section p {
  color: #d1d5db;
  max-width: 450px;
  margin-bottom: 2rem;
}
.cta-text-content {
  width: 100%;
}
.send-us-wrapper {
  width: 190px;
  height: 52px;
  border-radius: 40px;
  background: linear-gradient(269.57deg, #7a87fb 0.72%, #ffd49c 99.22%);
  padding: 1px;
  border: 1px solid;
}
/* Graphic Element Container */
.cta-graphic-container {
  display: none;
  margin-left: 1rem;
}
