/* --- features.css --- */
.projects-grid {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  display: flex;
  align-items: center;
  background-color: #111;
  padding: 2rem;
  width: 100%;
}

.gradient-box {
  width: 545px;
  height: 545px;
  background: linear-gradient(90deg, #7a87fb 0%, #ffd49c 100%);
  flex-shrink: 0;
  margin-right: 2rem;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding-left: 5rem;
}

.project-number-circle-small {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  border: 1px solid #374151;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, rgba(30, 30, 30, 0) 75%, #7d7d7d 100%);
  backdrop-filter: blur(30px);
  position: relative;
  overflow: visible;
}

/* Gradient text */
.project-number-circle-small span {
  background: linear-gradient(90deg, #7a87fb 0%, #ffd49c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.project-name {
  padding-top: 1rem;
  font-size: 36px;
  font-weight: 700;
}

/* Gradient curve */
.project-number-circle-small::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 20px;
  background: url("data:image/svg+xml;utf8,\
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 40'>\
          <defs>\
            <linearGradient id='grad' x1='0%' y1='0%' x2='100%' y2='0%'>\
              <stop offset='0%' stop-color='%237A87FB'/>\
              <stop offset='100%' stop-color='%23FFD49C'/>\
            </linearGradient>\
          </defs>\
          <path d='M5 2 Q50 38 95 2' stroke='url(%23grad)' stroke-width='3' fill='none' stroke-linecap='round'/>\
        </svg>")
    no-repeat center / 100% 100%;
}
