/* --- footer.css --- */
#footer-bar {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%;
  max-width: 1091px; /* max width from figma */
  margin-left: auto;
  margin-right: auto;
}
