/* --- global.css --- */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Universal styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Apply the internal font */
body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: white;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
h2 {
  font-size: 40px;
  font-weight: 400;
}

#process-section,
#features-section,
#testimonials-section,
#cta-section {
  background-color: #000;
  padding: 6rem 1rem;
  max-width: 1090px;
  margin: auto;
  width: 100%;
}

#process-section h2,
#testimonials-section h2 {
  margin-bottom: 3rem;
}
