/* --- process.css --- */
.process-list {
  position: relative;
}

.process-item {
  position: relative;
  display: flex;
  padding-bottom: 4rem;
  padding-left: 2rem;
}

/* Step Number Circle */
.step-number-circle {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  border-radius: 9999px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  background-color: #000;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
}

/* Content block */
.step-content {
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}
.step-content svg {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}

.step-container,
.step3-container {
  position: relative;
  padding: 10px 0;
}

.step-container::before {
  content: "";
  position: absolute;
  left: -155px;
  top: 90px;
  bottom: 0;
  width: 1px;
  background-color: rgba(102, 102, 102, 0.5);
}
.step-content h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.step-content p {
  color: #ffffff;
  font-size: 19px;
  margin-bottom: 1.5rem;
  line-height: 28px;
  max-width: 600px;
  opacity: 0.8;
}

.examples-button-wrapper {
  width: 177px;
  height: 49px;
  border-radius: 40px;
  background: linear-gradient(269.57deg, #7a87fb 0.72%, #ffd49c 99.22%);
  padding: 1.5px;
  border: 1px solid;
}
.examples-button {
  padding: 14px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: Medium;
  letter-spacing: 0px;
  line-height: 100%;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
